@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body{
    background-color: #22212c;
}
h1{
    text-align: center;
    color: white;
}
.Titulo{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 23px;
    margin-top: 15px;
}
footer{
    margin-top: 2em;
}
.card{
   
    transition: all 0.1s;
    cursor: pointer;   
}
.card:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.imgDetails{
    max-width: 300px;
    height: 450px;
    border-radius: 10px;
}
p{
    font-family: 'Rubik', sans-serif;
    color: white;
    margin-left: 20px;
    font-size: 20px;
    max-width: 50%;

}
.details{
    display: flex;
    align-items: center;
}
.detailsBody{
    display: flex;
    align-items: center;
}
@media (max-width:643px){
    p{
        font-size: 18px;
        max-width: 50%;
        font-family: 'Rubik', sans-serif;
        text-align: justify;
    }
}
@media(max-width:600px){
    p{
        font-size: 13px;
        max-width: 70%;
        font-family: 'Rubik', sans-serif;
        text-align: justify;
    }
    .detailsBody{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgDetails{
        max-width: 250px;
        height: 300px;
        border-radius: 10px;
    }
    span{
        color: white;
        font-size: 13px;
        margin-left: 30px;
    }
}
.release{
    color: white;
    font-size: 17px;
    margin-left: 30px;
}
